@media screen and (min-width: 700px) {

    body {
        background-image: url("../images/Halftone-background/halftone-bg-x-large-02.svg");
        background-size: cover;
        background-attachment: fixed;
    }

    .html-mobile-background {
        display: none;
    }

    nav {
        justify-content: flex-end;
    }

    .nav-element {
        margin: 0 10px 0 25px;
        font-weight: 400;
    }
}